// ------ Variables | couleurs ------ //

//Main colors
$purple: #9356dc;
$pink: #ff79da;
$green: #99e2d0;

$color-primary: $purple;
$color-secondary: $pink;
$color-tertiary: $green;

//secondary colors
$black: #000;
$white: #fff;

$shadow-gray: #ececec;
$backroung-gray: #f6f6f6;
$dark-gray: #313131;

// ------ Variables | listes typo ------ //
$ff-sans: 'Roboto', sans-serif;
$ff-display: 'Shrikhand', cursive;

$ff-body: $ff-sans;
$ff-headings: $ff-display;

$font-weight: (
	'heavy': 900,
	'bold': 700,
	'medium': 500,
	'normal': 400,
	'light': 300,
	'thin': 100,
);

$font-size: 0.8rem 1rem 1.2rem 1.7rem 1.9rem; // font-size: nth($font-size, 4);

$icons-size: (
	'small': 1rem,
	'normal': 1.3rem,
	'big': 1.5rem,
);

// ------ Variables | Custom sass grid ------ //

//custom grid column
$grid-columns: 12;

//grid gap
$grid-gaps: (
	'0': 0,
	'1': 10px,
	'2': 20px,
	'3': 30px,
);

//justify-content values
$justify-values: flex-start, flex-end, center, space-between, space-around;
//align-items values
$align-values: flex-start, flex-end, center, baseline;
