// Animation pour le remplissage du coeur "heart"
@keyframes heart {
	0% {
		opacity: 0;
		transform: scaleY(0);
	}

	100% {
		opacity: 1;
		transform: scaleY(1);
	}
}

//Animation flèche retour
@keyframes floating {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0px);
	}
}

//Animation ligne verte
@keyframes underline {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

//Animation sue le check des plats
@keyframes rotate-center-check {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

//Animation des suggestions du restaurant avec opacity
@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#plat-1 {
	animation-delay: 0.2s;
}
#plat-2 {
	animation-delay: 0.4s;
}
#plat-3 {
	animation-delay: 0.6s;
}
#plat-4 {
	animation-delay: 0.8s;
}
#plat-5 {
	animation-delay: 1s;
}
#plat-6 {
	animation-delay: 1.2s;
}
#plat-7 {
	animation-delay: 1.4s;
}
#plat-8 {
	animation-delay: 1.6s;
}
#plat-9 {
	animation-delay: 1.8s;
}
#plat-10 {
	animation-delay: 2s;
}
