// Animation pour le remplissage du coeur "heart"
@keyframes heart {
	0% {
		opacity: 0;
		transform: scaleY(0);
	}

	100% {
		opacity: 1;
		transform: scaleY(1);
	}
}

//Animation ligne verte
@keyframes underline {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}
