.btn {
	font-size: nth($list: $font-size, $n: 2);
	box-shadow: 0px 8px 8px 0px #cdcdcd;
	font-weight: map-get($map: $font-weight, $key: light);
	color: $white;
	padding: 16px 24px;
	border-radius: 50px;
	border: none;
	background: linear-gradient($color-primary, $color-secondary);

	&:hover {
		cursor: pointer;
		background: linear-gradient(
			350deg,
			lighten($color-primary, 5),
			lighten($color-secondary, 4)
		);
		box-shadow: 0px 4px 4px 2px #b3b3b3;
	}
}

//boutons sections fonctionnement
.btn-fonctionnement {
	box-shadow: 0px 8px 8px 0px #cdcdcd;
	&--numero {
		font-size: nth($list: $font-size, $n: 1);
		color: white;
		padding: 6px 10px;
		margin-left: -14px;
		background-color: $color-primary;
		border-radius: 40px;
	}
	.fas {
		font-size: map-get($map: $icons-size, $key: big);
		color: gray;
		padding: 0 25px;

		&.colored {
			color: $color-primary;
		}
	}
	strong {
		font-size: nth($list: $font-size, $n: 2);
	}
	&:hover {
		cursor: pointer;
		background-color: darken(#f6f6f6, 7);
		.fas {
			color: $color-primary;
		}
	}
}

// badge nouveau sur les deux cartes.
.badge {
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 80px;
	background-color: $color-tertiary;
	color: #008766;
	position: absolute;
	right: 10px;
	top: 15px;
}

//icones coeur
.icon-heart {
	position: relative;
	color: black;
	overflow: hidden;
	font-size: 24px;
	height: 24px;
	margin-top: 20px;
	margin-right: 20px;

	&:hover:after {
		content: '\f004';
		//font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		position: absolute;
		height: 24px;
		top: 0;
		left: 0;
		cursor: pointer;
		transform: scaleY(0);
		background: linear-gradient(
			to bottom,
			$color-secondary,
			$color-primary
		);
		animation: heart 1s ease-out 0s normal forwards;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
