/* reset styles */
body {
	font-family: $ff-body;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	main {
		margin: auto;
		height: 100%;
		position: relative;
	}
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: $black;
}

// base pour lea grille custom sass
.wrapper {
	width: 100%;
	//max-width: 98%;
	margin: 0 auto;
	box-sizing: border-box;
}

.row {
	display: flex;
	flex-flow: row wrap;
}
