/* reset styles */
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
body main {
  margin: auto;
  height: 100%;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: pink;
  }
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.loader {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  height: 100%;
  animation: loader 4s linear;
  visibility: hidden;
  pointer-events: none;
}
.loader > span {
  background: #9356dc;
  border-radius: 50%;
  margin: 5rem 0.5rem;
  animation: bouncingLoader 0.6s infinite alternate;
}
.loader > span:nth-child(2) {
  background: #ff79da;
  animation-delay: 0.2s;
}
.loader > span:nth-child(3) {
  background: #99e2d0;
  animation-delay: 0.4s;
}

@keyframes loader {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes bouncingLoader {
  from {
    width: 0.1rem;
    height: 0.1rem;
    opacity: 0.2;
    transform: translate3d(0, 0, 0);
  }
  to {
    width: 2rem;
    height: 2rem;
    opacity: 1;
    transform: translate3d(0, -1rem, 0);
  }
}
@keyframes heart {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes floating {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes check {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#plat-1 {
  animation-delay: 0.2s;
}

#plat-2 {
  animation-delay: 0.4s;
}

#plat-3 {
  animation-delay: 0.6s;
}

#plat-4 {
  animation-delay: 0.8s;
}

#plat-5 {
  animation-delay: 1s;
}

#plat-6 {
  animation-delay: 1.2s;
}

#plat-7 {
  animation-delay: 1.4s;
}

#plat-8 {
  animation-delay: 1.6s;
}

#plat-9 {
  animation-delay: 1.8s;
}

#plat-10 {
  animation-delay: 2s;
}

.btn {
  font-size: 1rem;
  box-shadow: 0px 8px 8px 0px #cdcdcd;
  font-weight: 300;
  color: #fff;
  padding: 16px 24px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(#9356dc, #ff79da);
}
.btn:hover {
  cursor: pointer;
  background: linear-gradient(350deg, #a16be0, #ff8de0);
  box-shadow: 0px 4px 4px 2px #b3b3b3;
}

.btn-fonctionnement {
  box-shadow: 0px 8px 8px 0px #cdcdcd;
}
.btn-fonctionnement--numero {
  font-size: 0.8rem;
  color: white;
  padding: 6px 10px;
  margin-left: -14px;
  background-color: #9356dc;
  border-radius: 40px;
}
.btn-fonctionnement .fas {
  font-size: 1.5rem;
  color: gray;
  padding: 0 25px;
}
.btn-fonctionnement strong {
  font-size: 1rem;
}
.btn-fonctionnement:hover {
  cursor: pointer;
  background-color: #f5eddf;
}
.btn-fonctionnement:hover .fas {
  color: #9356dc;
}

.badge {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80px;
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  right: 10px;
  top: 15px;
}

.icon-heart {
  position: relative;
  color: black;
  overflow: hidden;
  font-size: 24px;
  height: 24px;
  margin-top: 20px;
  margin-right: 20px;
}
.icon-heart:hover:after {
  content: "\f004";
  font-weight: 900;
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
  cursor: pointer;
  transform: scaleY(0);
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  animation: heart 1s ease-out 0s normal forwards;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  position: relative;
  display: block;
  box-shadow: 0 2px 5px 0 #b9b9b9;
  padding: 1.25rem;
}
.header__logo {
  font-size: 2rem;
  text-align: center;
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
  padding: 10px;
  margin: 0;
}

.top-section .lieu {
  background-color: #e7e7e7;
}
.top-section__lieu {
  background-color: #e7e7e7;
}
.top-section__lieu .fas {
  padding-right: 15px;
  padding-left: 20px;
  font-size: 1.5rem;
}
.top-section__lieu input {
  margin: 1rem 0;
  background-color: transparent;
  border: none;
  padding-top: 10px;
}
.top-section__lieu input::placeholder {
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
}
.top-section__reservation {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 35px;
}
.top-section__reservation h2 {
  display: block;
  padding-top: 50px;
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0;
}
.top-section__reservation p {
  display: block;
  font-size: 1.2rem;
  margin: 1rem 0;
}
@media (min-width: 720px) {
  .top-section__fonctionnement {
    margin: auto;
    max-width: 900px;
  }
}
@media (min-width: 960px) {
  .top-section__fonctionnement {
    margin: auto;
    max-width: 1200px;
  }
}
.top-section__fonctionnement h2 {
  font-size: 1.4rem;
  font-weight: 900;
  margin: 30px 0 30px 20px;
}
.top-section__fonctionnement ul {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  padding: 0;
  background-color: #fff;
}
@media (min-width: 720px) {
  .top-section__fonctionnement ul {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .top-section__fonctionnement ul {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
.top-section__fonctionnement ul li {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  list-style-type: none;
  background-color: #f6f6f6;
  border-radius: 25px;
  height: 80px;
  width: 85%;
  margin-bottom: 30px;
}
@media (min-width: 720px) {
  .top-section__fonctionnement ul li {
    width: 35%;
  }
}
@media (min-width: 960px) {
  .top-section__fonctionnement ul li {
    width: 28%;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: 40px 0;
}
.restaurants__title {
  font-size: 1.4rem;
  font-weight: 900;
  margin: 30px 0 30px 20px;
}
@media (min-width: 1200px) {
  .restaurants__title {
    max-width: 1024px;
    margin: 30px auto;
  }
}

footer {
  background-color: #313131;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 25px 30px 80px 30px;
}
@media (min-width: 720px) {
  .footer {
    max-width: 1200px;
    margin: auto;
  }
}
.footer--title {
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Shrikhand";
  letter-spacing: 1px;
  color: white;
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
@media (min-width: 720px) {
  .footer__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__list li {
  padding-bottom: 10px;
}
.footer__list li .fas {
  width: 20px;
  padding-right: 10px;
}
.footer__list--link {
  text-decoration: none;
  font-style: initial;
  color: white;
}
.footer__list--link:hover {
  color: #ff79da;
}

.card {
  text-align: center;
  margin: 0;
  border-radius: 20px;
  height: auto;
  box-shadow: 0px 8px 8px 0px #ececec;
}
.card__img {
  height: 190px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.card__description {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.card .description {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.card .description--title {
  margin: 0 0 5px 0;
}
.card .description--city {
  margin: 0;
  text-align: left;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1024px;
    margin: auto;
  }
}
.container li {
  list-style-type: none;
  width: 90%;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 15px 5px #ececec;
  transition: transform 350ms;
  position: relative;
}
@media (min-width: 1200px) {
  .container li {
    width: 49%;
  }
}
.container li:hover {
  box-shadow: 0px 0px 4px 2px gray;
  transform: scale(1.01);
}

.page-restaurant {
  width: 100%;
}

.restaurant-header {
  display: flex;
  align-items: center;
  padding: 20px 25px 10px 25px;
}
.restaurant-header .arrow {
  font-size: 24px;
  height: 26px;
  width: 22px;
  transform: translateX(0);
  animation: floating 3s ease-in-out infinite;
}
.restaurant-header .header__logo {
  margin: auto;
}

.restaurant-img {
  width: 100%;
  margin: 0;
}

.img-restaurant {
  max-height: 300px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.restaurant-menu {
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
}
@media (min-width: 960px) {
  .restaurant-menu {
    max-width: 1200px;
    margin: auto;
  }
}

.restaurant {
  margin-top: -60px;
  position: relative;
}

.restaurant-name {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  align-items: center;
}
.restaurant-name__title {
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
  font-size: 2rem;
}
.restaurant-name__like {
  margin: 0;
}
@media (min-width: 960px) {
  .restaurant-name {
    max-width: 1024px;
    margin: auto;
  }
}

.menu__suggestion {
  max-width: 1200px;
}
@media (min-width: 960px) {
  .menu__suggestion {
    margin: auto;
  }
}
.menu--title {
  margin: 0 0 0 34px;
  font-weight: initial;
  font-size: 1.2rem;
}
.menu--title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #99e2d0;
  animation: underline 2.3s;
  animation-fill-mode: both;
  transform: scale(0);
  transform-origin: left;
}
.menu--title:hover::after {
  width: 65px;
  transition: all 1s ease;
}
.menu--list {
  margin: auto;
  padding: 0;
  width: 100%;
}
.menu__plat {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 0px 0px 0px 20px;
  margin: 20px auto;
  width: 90%;
  height: 80px;
  box-shadow: 0px 8px 8px 0px #ececec;
  overflow: hidden;
  cursor: pointer;
}
.menu__plat .price {
  margin-left: auto;
  padding-left: 5px;
  padding-right: 15px;
}
.menu__plat .bg-check {
  background: #99e2d0;
  border-radius: 0 20px 20px 0;
  height: 100%;
  width: 70px;
  margin-right: -70px;
  transition: all 0.4s ease-in-out;
}
.menu__plat:hover .bg-check {
  margin-right: 0;
}
.menu__plat:hover .check {
  animation: check 0.5s ease-in-out;
}
.menu__plat .check {
  color: white;
  font-size: 26px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat--title {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat--desc {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.appears-opacity {
  animation: opacity 2s both;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 40px 0;
}

/*# sourceMappingURL=style.css.map */
