.header {
	position: relative;
	display: block;
	box-shadow: 0 2px 5px 0 rgb(185, 185, 185);
	padding: 1.25rem;

	&__logo {
		font-size: 2rem;
		text-align: center;
		font-family: $ff-headings;
		letter-spacing: 1px;
		padding: 10px;
		margin: 0;
	}
}
