//header de la page restaurant
.restaurants {
	background-color: $backroung-gray;
	padding: 40px 0;

	&__title {
		font-size: nth($list: $font-size, $n: 4);
		font-weight: map-get($map: $font-weight, $key: heavy);
		margin: 30px 0 30px 20px;

		@include xl {
			max-width: 1024px;
			margin: 30px auto;
		}
	}
}
