.top-section {
	.lieu {
		background-color: #e7e7e7;
	}

	&__lieu {
		background-color: #e7e7e7;

		.fas {
			padding-right: 15px;
			padding-left: 20px; // uniquement si input
			font-size: map-get($map: $icons-size, $key: big);
		}

		input {
			margin: 1rem 0;
			background-color: transparent;
			border: none;
			padding-top: 10px;

			&::placeholder {
				color: $black;
				font-size: 1.2rem;
				//font-size: nth($list: $font-size, $n: 3);
				font-weight: map-get($map: $font-weight, $key: medium);
			}
		}
	}

	&__reservation {
		background-color: #f6f6f6;
		text-align: center;
		padding-bottom: 35px;

		h2 {
			display: block;
			padding-top: 50px;
			font-size: nth($list: $font-size, $n: 4);
			font-weight: map-get($map: $font-weight, $key: heavy);
			margin: 0;
		}

		p {
			display: block;
			font-size: nth($list: $font-size, $n: 3);
			margin: 1rem 0;
		}
	}

	&__fonctionnement {
		@include md {
			margin: auto;
			max-width: 900px;
		}

		@include lg {
			margin: auto;
			max-width: 1200px;
		}

		h2 {
			font-size: nth($list: $font-size, $n: 4);
			font-weight: map-get($map: $font-weight, $key: heavy);
			margin: 30px 0 30px 20px;
		}

		ul {
			flex-direction: column;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 35px;
			padding: 0;
			background-color: $white;

			@include md {
				flex-direction: row;
				justify-content: space-around;
				flex-wrap: wrap;
				width: 100%;
			}

			@include lg {
				flex-direction: row;
				justify-content: space-around;
				width: 100%;
			}

			li {
				font-size: nth($list: $font-size, $n: 2);
				display: flex;
				align-items: center;
				justify-content: left;
				list-style-type: none;
				background-color: #f6f6f6;
				border-radius: 25px;
				height: 80px;
				width: 85%;
				margin-bottom: 30px;

				@include md {
					width: 35%;
				}

				@include lg {
					width: 28%;
				}
			}
		}
	}
}
