.page-restaurant {
	width: 100%;
}
.restaurant-header {
	display: flex;
	align-items: center;
	padding: 20px 25px 10px 25px;
	.arrow {
		font-size: 24px;
		height: 26px;
		width: 22px;
		transform: translateX(0);
		animation: floating 3s ease-in-out infinite;
	}
	.header__logo {
		margin: auto;
	}
}

.restaurant-img {
	width: 100%;
	margin: 0;
}
.img-restaurant {
	max-height: 300px;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.restaurant-menu {
	border-radius: 30px 30px 0 0;
	background-color: $backroung-gray;

	@include lg {
		max-width: 1200px;
		margin: auto;
	}
}

.restaurant {
	margin-top: -60px;
	position: relative;
}

.restaurant-name {
	display: flex;
	justify-content: space-between;
	padding: 0 20px 0 20px;
	align-items: center;
	&__title {
		font-family: $ff-headings;
		letter-spacing: 1px;
		font-size: 2rem;
	}
	&__like {
		margin: 0;
	}

	@include lg {
		max-width: 1024px;
		margin: auto;
	}
}

.menu {
	&__suggestion {
		max-width: 1200px;

		@include lg {
			margin: auto;
		}
	}
	// margin: auto;
	// justify-content: center;
	// display: flex;
	// flex-direction: column;
	&--title {
		margin: 0 0 0 34px;
		font-weight: initial;
		font-size: nth($list: $font-size, $n: 3);
		&::after {
			content: '';
			display: block;
			width: 50px;
			height: 3px;
			background-color: $color-tertiary;
			animation: underline 2.3s;
			animation-fill-mode: both;
			transform: scale(0);
			transform-origin: left;
		}

		&:hover::after {
			width: 65px;
			transition: all 1s ease;
		}
	}

	&--list {
		margin: auto;
		padding: 0;
		width: 100%;
	}

	&__plat {
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: white;
		border-radius: 20px;
		padding: 0px 0px 0px 20px;
		margin: 20px auto;
		width: 90%;
		height: 80px;
		box-shadow: 0px 8px 8px 0px $shadow-gray;
		overflow: hidden;
		cursor: pointer;
		.price {
			margin-left: auto;
			padding-left: 5px;
			padding-right: 15px;
		}
		.bg-check {
			background: $color-tertiary;
			border-radius: 0 20px 20px 0;
			height: 100%;
			width: 70px;
			margin-right: -70px;
			transition: all 0.4s ease-in-out;
		}
		&:hover .bg-check {
			margin-right: 0;
		}
		&:hover .check {
			animation: check 0.5s ease-in-out;
		}
		.check {
			color: white;
			font-size: 26px;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.plat {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	&--title {
		font-size: nth($list: $font-size, $n: 3);
		margin: 0;
		padding-bottom: 5px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&--desc {
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.appears-opacity {
	animation: opacity 2s both;
}

//bouton 'commmander'
.order {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0 40px 0;
}
